{% extends 'base.html' %}
{% block content %}

<div class="container mt-4" style="max-width: 650px">

    <h2 class="text-center">Buat Janji dengan Dr. {{ doctor.user.get_full_name }}</h2>
    <p class="text-muted text-center">{{ doctor.specialization }}</p>

    <div class="card p-4 shadow-sm">

        <form method="POST">
            {% csrf_token %}

            <label> Pilih Slot Kunjungan </label>
            <select name="slot_id" class="form-control mb-3" required>
                <option value="">-- Pilih Jadwal --</option>

                {% for s in slots %}
                    <option value="{{ s.id }}">
                        {{ s.date }} — {{ s.start_time }} (Sisa: {{ s.quota|add:-s.used_quota }})
                    </option>
                {% endfor %}
            </select>

            {{ form.as_p }}

            <button class="btn btn-success w-100">Buat Janji</button>
        </form>

    </div>
</div>

{% endblock %}
